
.data-dashboard{
    display: flex;
    
}
.first{
    border-right: 1px solid gray;
    padding-right: 7rem;
}
.second{
    margin-left: 4rem;

}
.dashboard-spacing{
    margin-top: 1.7rem;
    padding-left: 8rem;
}
.profit{
    color: rgb(76, 176, 33);
}
.pl{
    font-size: 0.7rem;
    margin-top: 1rem;
}